.App {
  --header_height: 60px;
  padding: 130px 0 0;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-SemiBold.ttf) format("ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-SemiBold.ttf) format("ttf");
  font-weight: 400;
}

.hw {
  padding: 20px 30px;
}

.hwTitle {
  font-family: Montserrat, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 26.82px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 10px;
  padding: 30px;
} 

.divider {
  height: 1px;
  background-color: #d9d9d9;
}
